.git/
.pytest_cache/
.tox/
.coverage
.gitignore
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*~
*.orig
*.egg
._*
*.log
.DS_Store
pip-log.txt
build/*
dist/*
tmp/*
.tmp/*
env/*
_build/*
*results.xml
.vagrant
.idea
.cache
*.mo
EGG-INFO
.eggs/
.coverage
*settings.yaml
local-settings.yaml
simulate_metadata_event.py
simulate_completes_event.py
scripts/*.json
capn.egg-info/*
.tox/*
.pytest_cache/
htmlcov/*
tags
venv/
/capn_release.html
*egg-info/
TODO
volumes/
Makefile
