# MANIFEST.in
#
# Allows one to choose what to include/exclude in source distribution

include requirements.txt
include VERSION
include README.md
include LICENSE

# exclude tests dir and contents
prune tests/
prune docs/
